.center{
    margin: 0 auto;
    text-align: center;
}

img{
    width: 100%;
    max-width: 500px;
}

.btn-custom{
    color: #ecf0f1 !important;
    background-color: #2dc86d;    
    border-radius: 0px 0px;
    border: #2dc86d solid 3px;
}

.btn-custom:hover{
    border: #ecf0f1 solid 3px;
}

.btn-lutar{
    background-color: #ecf0f1;
    color: #e74c3c;
}

.btn-lutar:hover{
    background-color: #e74c3c;
    color: #ecf0f1;
}

.btn-ataque{
    background-color: #1abc9c;
    color: #ecf0f1;
    border-radius: 0px 0px;
    border: #1abc9c solid 3px;
}

.btn-ataque:hover{
    color: #ecf0f1;
    border: #ecf0f1 solid 3px;
}

.btn-salvar{
    background-color: #1abc9c;
    color: #ecf0f1;
    border-radius: 0px;
    border: #1abc9c solid 3px;
}

.btn-salvar:hover{
    color: #ecf0f1;
     border: #222 solid 3px;
}
.btn-voltar{
    background-color: #e74c3c;
    color: #ecf0f1;
    border: #e74c3c solid 3px;
    border-radius: 0px;
}

.btn-voltar:hover{
    color: #ecf0f1;
    border: #222 solid 3px;
}

body{
    background-color: #2c3e50;
    color: #f2f2f2;
}
h1{
    color: #2dc86d;
}

.control-label{
    color: #9b9b9b;
}

.table-monster{
    background-color: #f2f2f2;
    color: #e74c3c;
    text-align: right;
    box-shadow: 10px 10px 20px #111;
}

.form-control{
    background-color: #fff;
    color: #222;
    border-radius: 0 0;
    border: none;
}

form{
    background-color: #ededed;
    padding: 2% 2%;
    border-radius: 20px 20px;
}

.progress-bar{
    background-color: #e74c3c;
}

#nome{
    color: #9b59b6;
}